# Visual Studio cache/options directory
.vs/

# User-specific files
*.user

# Build results
bin/
obj/

# Mac OS
.DS_Store

# project's static files in wwwroot
LearningAPI/wwwroot/uploads/*
!LearningAPI/wwwroot/uploads/README.md
